/* for dev purposes */
* {
	outline: 1px solid red;
}

/* split page into 2 sections, 1 for dropdown menu, 1 for image carousel */
#content {
	display: flex;
	gap: 4px;
}
.dropdown {
	width: 50%;
}
.carousel {
	width: 50%;
}


/* initializes dropdown menu content visibility to none */
.drop-content {
	display: none;
}
/* toggle class for toggling dropdown content visibility */
.show {
	display: block;
}


/* dropdown button */
.drop-btn {
	background-color: gray;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
/* red outline on hover */
.drop-btn:hover {
	outline: 1px solid red;
}
/* toggle class to change drop btn background color */
.drop-btn-active {
  	background-color: black;
}


/* dropdown contents as a whole */
.drop-content {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
/* individual dropdown contents */
.drop-content a {
  	color: black;
 	padding: 12px 16px;
 	text-decoration: none;
 	display: block;
}


/* carousel */
.carousel {
	/* max-width: 1000px; */
  	position: relative;
  	margin: auto;
}

/* hides all slides by default */
.carousel .slide {
  	/* display: none; */
}

/* next and previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	/* transition: 0.5s ease; */
	user-select: none;
}
.prev {
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* captions */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* index dots */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	/* transition: background-color 0.5s ease; */
}
.active, .dot:hover {
  	background-color: #717171;
}


/* fade animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
