
/* initializes dropdown menu content visibility to none */
.drop-content {
	display: none;
}
/* toggle class for toggling dropdown content visibility */
.show {
	display: block;
}


/* entire dropdown div */
.dropdown {
	position: relative;
}


/* dropdown button */
.drop-btn {
	background-color: gray;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
/* red outline on hover */
.drop-btn:hover {
	outline: 1px solid red;
}
/* toggle class to change drop btn background color */
.drop-btn-active {
  	background-color: black;
}


/* dropdown contents as a whole */
.drop-content {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
/* individual dropdown contents */
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
